<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Clasificacion</h4>
          <div class="small text-muted">seg-data.txt</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
        </div><!--/.col-->
      </div><!--/.row-->
      <br>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="selectx">Eje X</label>
          <select [(ngModel)]="plottedAttributes.x" id="selectx" name="selectx" class="form-control">
            <option [value]="a" *ngFor="let a of attributes">{{a}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selecty">Eje Y</label>
          <select [(ngModel)]="plottedAttributes.y" id="selecty" name="selecty" class="form-control">
            <option [value]="a" *ngFor="let a of attributes">{{a}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selectz">Eje Z</label>
          <select [(ngModel)]="plottedAttributes.z" id="selectz" name="selectz" class="form-control">
            <option [value]="a" *ngFor="let a of attributes">{{a}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selectz"></label>
          <button type="button" class="btn btn-block btn-primary" (click)="dibujarGrafica()">Dibujar grafica</button>
        </div>
        <!--<label class="col-sm-2 col-form-label" for="select1">Eje Z</label>
        <div class="col-md-2">
          <select id="select3" name="select1" class="form-control">
            <option value="0">Selecciona una opcion</option>
            <option value="1">1</option>
          </select>
        </div>-->
      </div>
      <div id="container" style="height:700px;margin-top:40px;">Scatter Plot</div>
      <div id="container2" style="height:700px;margin-top:40px;">Scatter Plot 2</div>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Clasificacion Arbol J48 (C4.5)
          <div class="card-header-actions">
          </div>
        </div>
        <div class="card-body">
          <h4>Clasificacion J48 (C4.5) conjunto original normalizado</h4>
          <div style="font-family:Consolas, monaco, monospace;"
               [innerHTML]="analysisResult.treeEvaluation || ''"></div>
          <br>
          <h4>Clasificacion J48 (C4.5) conjunto suavizado normalizado</h4>
          <div style="font-family:Consolas, monaco, monospace;"
               [innerHTML]="analysisResult.suavizadoTreeEvaluation || ''"></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Clasificacion Naive Bayes
          <div class="card-header-actions">
          </div>
        </div>
        <div class="card-body">
          <h4>Clasificacion Naive Bayes conjunto original normalizado</h4>
          <div style="font-family:Consolas, monaco, monospace;"
               [innerHTML]="analysisResult.bayesEvaluation || ''"></div>
          <br>
          <h4>Clasificacion Naive Bayes conjunto suavizado normalizado</h4>
          <div style="font-family:Consolas, monaco, monospace;"
               [innerHTML]="analysisResult.suavizadoBayesEvaluation || ''"></div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
